.wy-nav-content-wrap {
 margin-left:0;
}

.wy-nav-side {
 display:none;
}

.rst-footer-buttons {
 display:none;
}

.fa-github {
  display:none;
}

.wy-nav-content {
  max-width:100%;
}

.rst-versions {
  display:none;
}

.wy-nav-content {
 min-width:100%;
 min-height:100%;
 position:absolute;
}

.wy-nav-top {
 display:none;
}

.wy-breadcrumbs {
 display:none;
}

section footer{
 display:none;
}

hr{
 display:none;
 }
